

image:
  repository: eeacms/advisory-board-backend
  pullPolicy: Always
  tag: ""

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

timezone: Europe/Copenhagen

links:
  database: plone-postgres.namespace
  memcached: plone-postgres-memcached.namespace

ingress:
  annotations: 
    cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
  certificate: key-01dev-letsencrypt

plone:
  serviceType: ClusterIP
  hostname: plone.eea.europa.eu
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 6
    # targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 60
  replicaCount: 1
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  database:
    POSTGRES_DB: database
    POSTGRES_USER: databaseuser
    POSTGRES_PASSWORD: databasepassword
  environment:
    GRAYLOG: 'logcentral.eea.europa.eu:12201'
    SENTRY_DSN: ''
    SENTRY_ENVIRONMENT: '01dev'
    CORS_ALLOW_ORIGIN: '' 
    DEFAULT_PUBLISHER: ''
    DEFAULT_ORGANISATIONS: ''
    STATIC_BANNER_ENABLED: ''
    DYNAMIC_BANNER_ENABLED: ''
  annotations: {}
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 20
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 15
    timeoutSeconds: 10
    initialDelaySeconds: 60
    failureThreshold: 4
    successThreshold: 2
    
varnish:
  serviceType: ClusterIP
  serviceName: backend-varnish
  backend: "backend-plone"
  port: 8080
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  environment:
    VARNISH_SIZE: 2G
    VARNISH_DNS_TTL: '20s'
    VARNISH_BERESP_TTL: '60s' 
    VARNISH_BERESP_GRACE: '120s'
    VARNISH_BERESP_KEEP: '120s'
    VARNISH_GZIP_ENABLED: 'false'
    VARNISH_GZIP_JSON_ENABLED: 'false' 
    AUTOKILL_CRON: ''
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 10
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 5
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1


debug:
  serviceType: ClusterIP
  enabled: false
  resources:
    limits:
      memory: 4Gi
    requests:
      memory: 4Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  environment: {}


postfix:
  fullnameOverride: ''
  dryrun: false
  serverName: plone.eea.europa.eu
  mtpPass: ''
  mtpPort: ''
  mtpRelay: ''
  mtpUser: ''
  serviceName: 'postfix'
  mailtrap:
    httpenabled: false
    serviceType: NodePort
    ingress:
      enabled: false
      hostname: mailtrap.01dev.eea.europa.eu
      annotations:
        cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
      certificate: mailtrap.01dev.eea.europa.eu-tls
    
