apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: eggrepo
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: httpd
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.url }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "appl.fullname" . }} 
            port:
              number: 80
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.url }}
    secretName: {{ .Values.url }}-tls
  {{- end  }}
